/* :root {
    --font-controller: 10px;
    --fs-10: calc(10px - calc(var(--font-controller) * -1));
    --fs-11: calc(11px - calc(var(--font-controller) * -1));
    --fs-12: calc(12px - calc(var(--font-controller) * -1));
    --fs-13: calc(13px - calc(var(--font-controller) * -1));
    --fs-14: calc(14px - var(--font-controller));
    --fs-15: calc(15px - var(--font-controller));
    --fs-16: calc(16px - var(--font-controller));
    --fs-18: calc(18px - var(--font-controller));
    --fs-20: calc(20px - var(--font-controller));
    --fs-22: calc(22px - var(--font-controller));
    --fs-24: calc(24px - var(--font-controller));
    --fs-25: calc(25px - var(--font-controller));
    --fs-30: calc(30px - var(--font-controller));
    --fs-35: calc(35px - var(--font-controller));
    --fs-45: calc(45px - var(--font-controller));
    --fs-40: calc(40px - var(--font-controller));
    --fs-50: calc(50px - var(--font-controller));
    --fs-55: calc(55px - var(--font-controller));
    --fs-60: calc(60px - var(--font-controller));
} */
:root{
    font-size: 16px;
}

.custom-font{
    font-size: clamp(1rem, 5vw, 2rem);
}